version: '3'


# Common build configuration for Airflow
# Extension field, see https://docs.docker.com/compose/compose-file/compose-file-v3/#extension-fields
x-airflow-common:
  &airflow-common
  restart: on-failure
  depends_on:
    - s3
  build:
    context: .
    args:
      - REQUIREMENTS_FILE=requirements_dev.txt
      - PROJECT_PY_VERSION=${PROJECT_PY_VERSION}
      - PROJECT_AIRFLOW_VERSION=${PROJECT_AIRFLOW_VERSION}
  volumes:
    - ipython:/home/airflow/.ipython:z
    - ./techbloc_airflow:/opt/airflow/techbloc_airflow
    # Used in CI to override the default ssh directory, otherwise defaults to home
    - ${SSH_DIRECTORY:-~}/.ssh:/opt/ssh/


services:
  # Services only needed for local development
  s3:
    image: minio/minio:latest
    ports:
      - "5010:5000"
      - "5011:5001"
    env_file:
      - .env
    environment:
      MINIO_ROOT_USER: ${AWS_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${AWS_SECRET_KEY}
      # Comma separated list of buckets to create on startup
      BUCKETS_TO_CREATE: spd-lookup,airflow
    # Create empty buckets on every container startup
    # Note: $0 is included in the exec because "/bin/bash -c" swallows the first
    # argument, so it must be re-added at the beginning of the exec call
    entrypoint: >-
      /bin/bash -c
      "for b in $${BUCKETS_TO_CREATE//,/ }; do
        echo \"Making bucket $$b\" && mkdir -p /data/$$b;
      done &&
      exec $$0 \"$$@\""
    command: minio server /data --address :5000 --console-address :5001
    volumes:
      - minio:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5010/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

  # Dev changes for the scheduler
  scheduler:
    <<: *airflow-common
    depends_on:
      - s3
    environment:
      _AIRFLOW_WWW_USER_CREATE: "true"
      _AIRFLOW_WWW_USER_USERNAME: airflow
      _AIRFLOW_WWW_USER_PASSWORD: airflow
      _AIRFLOW_WWW_USER_FIRSTNAME: Air
      _AIRFLOW_WWW_USER_LASTNAME: Flow
      _AIRFLOW_WWW_USER_EMAIL: airflow@example.com


  # Dev changes for the webserver container
  webserver:
    <<: *airflow-common
    depends_on:
      - s3
      - scheduler

volumes:
  minio:
  ipython:
